.comfort{
  background-color: $gray;

  svg{
    @include tablets{
      display: none;
    }
  }

  .second-title{
    margin-top: 30px;
  }

  &__wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0 100px;

    @include tablets{
      flex-direction: column;
      margin-bottom: 0;
    }
  }

  &__item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    width: 30%;
    align-items: flex-start;

    @include tablets{
      width: 100%;
    }
  }

  &__img-wrap{
    min-width: 85px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 15px;
  }
}