.faq{
  background-color: $gray;
  margin-top: 150px;
  padding: 100px 0 50px;
}

.questions{
  color: $brown;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin: 70px 0;
}

.link{
  color: $red;
}