.feedback{
  background-color: $white;
  margin-top: 100px;
  position: relative;
  padding-bottom: 200px;

  &__wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item{
    display: flex;
    justify-content: space-between;
    width: 48%;
    margin-bottom: 50px;
  }

  &__img-wrap{
    min-width: 85px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 15px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }

  &__title{
    margin-bottom: 15px;
  }
}