@font-face {
  font-family: 'Cera-Reg';
  src: url('../fonts/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CeraPro-Regular.woff') format('woff'),
  url('../fonts/CeraPro-Regular.ttf')  format('truetype'),
  url('../fonts/CeraPro-Regular.svg#CeraPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Cera-Bold';
  src: url('../fonts/CeraPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CeraPro-Bold.woff') format('woff'),
  url('../fonts/CeraPro-Bold.ttf')  format('truetype'),
  url('../fonts/CeraPro-Bold.svg#CeraPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

