.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $white;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.38);
  padding: 50px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  position: absolute;
  z-index: 10;
  bottom: -60px;

  @include tablets{
    width: 80%;
  }

  &__title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;

    @include tablets{
      text-align: center;
    }
  }

  &__row{
    display: flex;
    justify-content: center;

    @include tablets{
      flex-direction: column;
      align-items: center;
    }
  }

  .descr{
    margin-top: 30px;
  }
}

.input-block{
  line-height: 65px;
  height: 65px;
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
  background-color: $gray;
  width: 300px;
  color: $black;
  font-size: 16px;
  font-weight: bold;
  border: none;
  padding-left: 30px;

  @include placeholder{
    color: $black;
  }

  @include tablets{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
}

.input-submit{
  line-height: 65px;
  height: 65px;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
  background-color: $red;
  width: 200px;
  color: $white;
  font-size: 16px;
  font-weight: bold;
  border: none;

  @include tablets{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 300px;
  }
}