.header{
  margin-bottom: 100px;
}

.tel{
  color: $white;
  font-size: 32px;
  text-decoration: none;
  font-weight: bold;
  margin-left: auto;
}

.logo{

  &__img{

    @include tablets{
      max-width: 120px;
    }
  }
}