.options{
  background-color: $white;
  padding-top: 200px;
  position: relative;
  margin-bottom: 180px;

  form{
    @include tablets{
      bottom: -190px;
    }
  }

  @include tablets{
    background-color: $gray;
    padding-top: 250px;
    padding-bottom: 250px;
  }

  h2{
    text-align: center;
  }

  &__row{
    background: linear-gradient(to right, $gray 50%, $pink 50%);

    @include tablets{
      background: $gray;
    }

    &--revert{
      background: linear-gradient(to left, $gray 50%, $pink 50%);
      padding-bottom: 200px;

      @include tablets{
        padding-bottom: 0;
      }
    }
  }

  &__item{
    display: flex;
    flex-direction: column;
    padding: 50px 100px 30px;

    @include tablets{
      max-width: 400px;
      width: 400px !important;
      display: flex !important;
      padding: 0 0 0 20px;
    }
  }

  &__img-wrap{
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include tablets{
      margin-left: -20px;
    }
  }

  .descr{
    margin-top: 20px;

    &--big{
      margin-top: 0;
    }
  }
}

.price{
  color: $darkred;
  font-size: 24px;
  font-weight: bold;
}

#options__item1{
  .slick-prev{
    left: 49%;
    z-index: 20;
    top: 90px;
  }

  .slick-next{
    left: 50.63%;
    z-index: 20;
    top: 90px;
  }
 }