.menu-tabs{
  padding-bottom: 100px;

  @include tablets{
    padding-top: 50px;
    padding-bottom: 400px;
  }

  svg{
    @include tablets{
      display: none;
    }
  }
}

#container{
  width: 100%;
}

.tabs {
  width: 100%;
  padding: 0px;
  margin: 0 auto;
  position: relative;

  @include tablets{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__week{
    display: none;

    &.active{
      display: block;

      @include tablets{
        display: flex;
      }
    }
  }
}

.section-tab {
  display: none;
  padding: 15px;
  background: $white;
  position: absolute;
  top: 0;
  left: 270px;

  @include tablets{
    top: 195px;
    left: 0;
  }
}

.tabs input {
  display: none;
}

.tabs label {
  display: block;
  width: 190px;
  padding: 15px;
  color: $black;
  background: $white;
  cursor: pointer;
  position: relative;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;

  @include tablets{
    width: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
}

.tabs input:checked + label {
  color: $white;
  background: $red;

  &:after{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-left: 12px solid $red;
    border-bottom: 30px solid transparent;
    right: -12px;
    top: 0;

    @include tablets{
      display: none;
    }
  }
}
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5,
#tab6:checked ~ #content6,
#tab7:checked ~ #content7,
#tab10:checked ~ #content10,
#tab20:checked ~ #content20,
#tab30:checked ~ #content30,
#tab40:checked ~ #content40,
#tab50:checked ~ #content50,
#tab60:checked ~ #content60,
#tab70:checked ~ #content70{
  display: block;
}
.section-tab {
  animation: scale 0.7s ease-in-out;
}
@keyframes scale {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  50% {
    transform: scale(1.005);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include tablets{
    flex-wrap: nowrap;
  }

  &__item{
    width: 30%;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;

    @include tablets{
      max-width: 400px;
      width: 400px !important;
      display: flex !important;
      align-items: center;
    }
  }

  &__img-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__info-row{
    display: flex;
    justify-content: space-between;
    margin: 0 20px;

    @include tablets{
      width: 200px;
    }
  }

  &__day{
    color: $gray;
    font-weight: bold;
    font-size: 16px;
    margin-left: 20px;
  }

  &__name{
    font-size: 24px;
    font-weight: bold;
    color: $black;
    margin-left: 20px;
  }
}

.switch{
  margin-bottom: 50px;

  &__link{
    color: $red;
    font-size: 24px;
    font-weight: bold;
  }
}

.week{
  color: $black;
  font-size: 34px;
  font-weight: bold;
  display: none;

  &.active{
    display: block;
  }
}

.slick-next, .slick-prev{
  width: 80px;
  height: 80px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  &:before, &:after{
    content: "";
    position: absolute;
    background-color: $white;
    width: 5px;
    height: 15px;
    opacity: 1;
  }
}

.slick-prev{
  background: $red !important;
  transform: rotate(270deg);

  &:before{
    transform: translate(-6px, 0) rotate(45deg);
    left: 38px;
    top: 31px;
  }

  &:after{
    transform: translate(2px, 0) rotate(-45deg);
    left: 38px;
    top: 31px;
  }
}

.slick-next{
  left: 350px;
  background: $red !important;
  transform: rotate(90deg);

  &:before{
    transform: translate(-6px, 0) rotate(45deg);
    left: 40px;
    top: 31px;
  }

  &:after{
    transform: translate(2px, 0) rotate(-45deg);
    left: 40px;
    top: 31px;
  }
}
